/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
<<<<<<< HEAD

* {
=======
*{
>>>>>>> origin/master
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

<<<<<<< HEAD
:root {
=======
:root{
>>>>>>> origin/master
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #32be8f;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #949494;
    --text-color-dark: black;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

<<<<<<< HEAD
body {
=======
body{
>>>>>>> origin/master
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow-x: hidden;
}

<<<<<<< HEAD
::selection {
=======
::selection{
>>>>>>> origin/master
    background-color: var(--primary-color);
    color: #fff;
}

<<<<<<< HEAD
body.dark {
=======
body.dark{
>>>>>>> origin/master
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --text-color-dark: #fff;
}

/* ===== Sidebar ===== */
<<<<<<< HEAD
.sidebar {
=======
 .sidebar{
>>>>>>> origin/master
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
<<<<<<< HEAD
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.menu-links {
    padding: 0;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
=======
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}
.menu-links {
    padding: 0;
}
/* ===== Reusable code - Here ===== */
.sidebar li{
>>>>>>> origin/master
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
<<<<<<< HEAD
.sidebar .icon {
=======
.sidebar .icon{
>>>>>>> origin/master
    min-width: 60px;
    border-radius: 6px;
}

<<<<<<< HEAD
.sidebar .icon {
=======
.sidebar .icon{
>>>>>>> origin/master
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
<<<<<<< HEAD
.sidebar .icon {
=======
.sidebar .icon{
>>>>>>> origin/master
    color: var(--text-color);
    transition: var(--tran-03);
}

<<<<<<< HEAD
.sidebar .text {
=======
.sidebar .text{
>>>>>>> origin/master
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
<<<<<<< HEAD

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

=======
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
>>>>>>> origin/master
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

<<<<<<< HEAD
header .image-text .profession {
=======
header .image-text .profession{
>>>>>>> origin/master
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

<<<<<<< HEAD
.sidebar header .image {
=======
.sidebar header .image{
>>>>>>> origin/master
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
.sidebar header .image img {
=======
.sidebar header .image img{
>>>>>>> origin/master
    width: 65px;
    margin-right: 11px;
    border-radius: 6px;
}

<<<<<<< HEAD
.sidebar header .toggle {
=======
.sidebar header .toggle{
>>>>>>> origin/master
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

<<<<<<< HEAD
body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
=======
body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
>>>>>>> origin/master
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

<<<<<<< HEAD
.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
=======
.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
>>>>>>> origin/master
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
<<<<<<< HEAD

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
=======
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
>>>>>>> origin/master
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

<<<<<<< HEAD
.menu-bar .mode .sun-moon {
=======
.menu-bar .mode .sun-moon{
>>>>>>> origin/master
    height: 50px;
    width: 60px;
}

<<<<<<< HEAD
.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
=======
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
>>>>>>> origin/master
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
<<<<<<< HEAD

.toggle-switch .switch {
=======
.toggle-switch .switch{
>>>>>>> origin/master
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

<<<<<<< HEAD
.switch::before {
=======
.switch::before{
>>>>>>> origin/master
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

<<<<<<< HEAD
body.dark .switch::before {
    left: 20px;
}

.home {
=======
body.dark .switch::before{
    left: 20px;
}

.home{
>>>>>>> origin/master
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
<<<<<<< HEAD

.home .text {
=======
.home .text{
>>>>>>> origin/master
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

<<<<<<< HEAD
.sidebar.close~.home {
=======
.sidebar.close ~ .home{
>>>>>>> origin/master
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
<<<<<<< HEAD

body.dark .home .text {
=======
body.dark .home .text{
>>>>>>> origin/master
    color: var(--text-color);
}

/* ============== Header ================ */

.contentHeader {
    background-color: var(--primary-color-light);
}

.bx-plus {
    background-color: #32be8f;
    padding: 5px;
    border-radius: 25px;
    color: white;
}

.textUploadFolder,
.textUploadFile {
    color: var(--text-color-dark);
}

.titleAndSortIndex {
    color: var(--text-color-dark);
}

.bi-person-circle {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.form-select {
    background-color: var(--text-color-dark);
    color: var(--primary-color-light);
}

.profilePhotoText {
    color: var(--text-color-dark);
}
<<<<<<< HEAD

/* ===== Three Buttom ===== */

.showLeft {
    text-shadow: none !important;
    color: var(--text-color) !important;
    padding: 10px;
=======
/* ===== Three Buttom ===== */

.showLeft{
    text-shadow: none !important;
    color: var(--text-color) !important;
    padding:10px;
>>>>>>> origin/master
}

/* =========================== */

/* =========== BTN EDIT ========== */

.btnEdit {
    font-size: 40px;
    padding: 14px 14px 0px 0px;
    background-color: var(--primary-color-light);
    color: var(--text-color-dark);
<<<<<<< HEAD
    z-index: 1;
=======
>>>>>>> origin/master
}


/* =============================== */

/* ========== CARD ============= */

.containerCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: var(--primary-color-light);
}

<<<<<<< HEAD
.bi-file-earmark-text-fill,
.bi-folder-fill {
    color: #32be8f;
=======
.bi-folder-fill {
    color:  #32be8f;
>>>>>>> origin/master
    font-size: 3rem;
}

.card-title {
    color: var(--text-color-dark);
}

.card-text {
    font-size: 0.9rem;
    color: var(--text-color-dark);
}

.card-footerText {
    font-size: 1.5em;
    color: var(--primary-color-light);
    font-weight: 600;
}

.card-footer {
    background-color: var(--primary-color-light);
}

.card-footerText {
    font-size: medium;
    color: var(--text-color);
}

.iconCard {
    color: var(--text-color-dark);
    font-size: 1.5em;
}

.iconCardTrash:hover {
    color: rgb(248, 45, 45);
<<<<<<< HEAD
    background-color: rgba(248, 45, 45, 0.1);
    /* Añadir un fondo sutil */
    transform: scale(2);
    /* Aumentar el tamaño ligeramente */
=======
    background-color: rgba(248, 45, 45, 0.1); /* Añadir un fondo sutil */
    transform: scale(2); /* Aumentar el tamaño ligeramente */
>>>>>>> origin/master
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.iconCardStar:hover {
    color: #ffd700;
<<<<<<< HEAD
    background-color: rgba(255, 215, 0, 0.1);
    /* Añadir un fondo sutil */
    transform: scale(2);
    /* Aumentar el tamaño ligeramente */
=======
    background-color: rgba(255, 215, 0, 0.1); /* Añadir un fondo sutil */
    transform: scale(2); /* Aumentar el tamaño ligeramente */
>>>>>>> origin/master
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.iconCardLock:hover {
    color: #a9a9a9;
<<<<<<< HEAD
    background-color: rgba(169, 169, 169, 0.1);
    /* Añadir un fondo sutil */
    transform: scale(2);
    /* Aumentar el tamaño ligeramente */
=======
    background-color: rgba(169, 169, 169, 0.1); /* Añadir un fondo sutil */
    transform: scale(2); /* Aumentar el tamaño ligeramente */
>>>>>>> origin/master
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* ==========  ALERT =========== */

.alert {
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 25px;
    border-radius: 4px;
    overflow: hidden;
    opacity: 5;
    pointer-events: none;
    display: none;
    z-index: 999999;
}

.alert.warning {
    background: #ffdb9b;
    border-left: 8px solid #ffa502;
}

.alert.success {
    background: #c4f0c4;
    border-left: 8px solid #66cc66;
}

.alert.error {
    background: #f8d7da;
    border-left: 8px solid #f5365c;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
    display: block;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
<<<<<<< HEAD

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

=======
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
>>>>>>> origin/master
    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
<<<<<<< HEAD

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

=======
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
>>>>>>> origin/master
    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.alert.warning .fa-exclamation-circle {
    color: #ce8500;
}

.alert.success .fa-exclamation-circle {
    color: #66cc66;
}

.alert.error .fa-exclamation-circle {
    color: #f5365c;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
}

.alert.warning .msg {
    color: #ce8500;
}

.alert.success .msg {
    color: #66cc66;
}

.alert.error .msg {
    color: #f5365c;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 18px;
    cursor: pointer;
}

.alert.warning .close-btn {
    background: #ffd080;
}

.alert.success .close-btn {
    background: #c4f0c4;
}

.alert.error .close-btn {
    background: #f8d7da;
}

.alert.warning .close-btn:hover {
    background: #ffc766;
}

.alert.success .close-btn:hover {
    background: #a4f0a4;
}

.alert.error .close-btn:hover {
    background: #f5d7d7;
}

.alert .close-btn .fas {
    font-size: 22px;
    line-height: 40px;
}

.alert.warning .close-btn .fas {
    color: #ce8500;
}

.alert.success .close-btn .fas {
    color: #66cc66;
}

.alert.error .close-btn .fas {
    color: #f5365c;
}

/* ============= FORM EDIT ============== */

<<<<<<< HEAD
.modal-content {
=======
.modal-content
{
>>>>>>> origin/master
    background: var(--sidebar-color);
    color: var(--text-color-dark);
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
<<<<<<< HEAD
}

.formbold-form-wrapper {
=======
  }

  .formbold-form-wrapper {
>>>>>>> origin/master
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: var(--sidebar-color);
<<<<<<< HEAD
}

.formbold-input-flex {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.formbold-input-flex>div {
    width: 100%;
}

.formbold-input-radio-wrapper {
    margin-bottom: 28px;
}

.formbold-radio-flex {
    display: flex;
    align-items: center;
    gap: 15px;
}

.formbold-radio-label {
=======
  }

  .formbold-input-flex {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
  }
  .formbold-input-flex > div {
    width: 100%;
  }

  .formbold-input-radio-wrapper {
    margin-bottom: 28px;
  }
  .formbold-radio-flex {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .formbold-radio-label {
>>>>>>> origin/master
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-dark);
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
<<<<<<< HEAD
}

.formbold-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.formbold-radio-checkmark {
=======
  }
  .formbold-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .formbold-radio-checkmark {
>>>>>>> origin/master
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--text-color);
    border: 1px solid #DDE3EC;
    border-radius: 50%;
<<<<<<< HEAD
}

.formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark {
    background-color: var(--primary-color);
}

.formbold-radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.formbold-radio-label .formbold-input-radio:checked~.formbold-radio-checkmark:after {
    display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
=======
  }
  .formbold-radio-label .formbold-input-radio:checked ~ .formbold-radio-checkmark {
    background-color: var(--primary-color);
  }
  .formbold-radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .formbold-radio-label .formbold-input-radio:checked ~ .formbold-radio-checkmark:after {
    display: block;
  }

  .formbold-radio-label .formbold-radio-checkmark:after {
>>>>>>> origin/master
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
}

.formbold-form-input {
=======
  }

  .formbold-form-input {
>>>>>>> origin/master
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #DDE3EC;
    background: var(--primary-color-light);
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-dark);
    outline: none;
    resize: none;
<<<<<<< HEAD
}

.formbold-form-input::placeholder {
    color: var(--text-color);
}

.formbold-form-input:focus {
    border-color: var(--text-color-dark);
    box-shadow: 0px 3px 8px var(--primary-color-light);
}

.formbold-form-label {
=======
  }
  .formbold-form-input::placeholder {
    color: var(--text-color);
  }
  .formbold-form-input:focus {
    border-color: var(--text-color-dark);
    box-shadow: 0px 3px 8px var(--primary-color-light);
  }
  .formbold-form-label {
>>>>>>> origin/master
    color: var(--text-color-dark);
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
<<<<<<< HEAD
}

.formbold-btn {
=======
  }

  .formbold-btn {
>>>>>>> origin/master
    text-align: center;
    width: 60%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    background-color: var(--text-color-dark);
    color: var(--primary-color-light);
    cursor: pointer;
<<<<<<< HEAD
}

.formbold-btn:hover {
    background-color: var(--primary-color-light);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
=======
  }
  .formbold-btn:hover {
    background-color: var(--primary-color-light);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
>>>>>>> origin/master

/* ======================== */

/* ======== UploadFile FILE ============= */

.modal-header.UploadFile {
<<<<<<< HEAD
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem;
}

.logo-circle.UploadFile {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #32be8f;
    ;

    svg {
        max-width: 1.5rem;
    }
=======
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem 1.5rem 1rem;
}

.logo-circle.UploadFile {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #32be8f;;
	svg {
		max-width: 1.5rem;
	}
>>>>>>> origin/master
}

.UploadFile-area input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-body.UploadFile {
<<<<<<< HEAD
    padding: 1rem 1.5rem;
}

.modal-title.UploadFile {
    font-weight: 700;
}

.modal-description.UploadFile {
    color: var(--text-color-dark);
}

.UploadFile-area.UploadFile {
    margin-top: 1.25rem;
    border: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: transparent;
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover,
    &:focus {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }
}

.UploadFile-area-icon.UploadFile {
    display: absolute;
    width: 1.25rem;
    height: 1.25rem;
    left: 25px;

    svg {
        max-height: 80px;
        max-width: 16%;
    }
}

.UploadFile-area-title.UploadFile {
    margin-top: 1rem;
    display: block;
    font-weight: 700;
    color: #32be8f;
}

.UploadFile-area-description.UploadFile {
    display: block;
    color: var(--text-color-dark);

    strong {
        color: #32be8f;
        ;
        font-weight: 700;
    }
}

.modal-footer.UploadFile {
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    justify-content: flex-end;

    [class*="btn-"] {
        margin-left: .75rem;
    }
}

.btn-secondary.UploadFile,
.btn-primary.UploadFile {
    padding: .5rem 1rem;
    font-weight: 500;
    border: 2px solid var(--primary-color-light);
    color: var(--text-color-dark);
    border-radius: .25rem;
    background-color: transparent;
}

.btn-primary.UploadFile {
    color: var(--text-color-dark);
    background-color: var(--primary-color);
    border-color: #32be8f;
    ;
}

.cardFolder {
    text-decoration: none;
}

/* ============ PREVIEW ============ */

.preview li,
.preview>p {
    background: var(--primary-color-light);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid var(--text-color-dark);
}

.preview ul,
.preview ol {
    padding: 0;
}

.preview img {
    height: 64px;
    order: 1;
}

.preview p {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
=======
	padding: 1rem 1.5rem;
}

.modal-title.UploadFile {
	font-weight: 700;
}

.modal-description.UploadFile {
	color: var(--text-color-dark);
}

.UploadFile-area.UploadFile {
	margin-top: 1.25rem;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: transparent;
	padding: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&:hover, &:focus {
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232e44ff' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	}
} 

.UploadFile-area-icon.UploadFile {
	display: absolute;
	width: 1.25rem;
	height: 1.25rem;
    left: 25px;
	svg {
		max-height: 80px;
		max-width: 16%;
	}
}

.UploadFile-area-title.UploadFile {
	margin-top: 1rem;
	display: block;
	font-weight: 700;
		color: #32be8f;
}

.UploadFile-area-description.UploadFile {
		display: block;
		color: var(--text-color-dark);
	strong {
		color: #32be8f;;
		font-weight: 700;
	}
}

.modal-footer.UploadFile {
	padding: 1rem 1.5rem 1.5rem;
	display: flex;
	justify-content: flex-end;
	[class*="btn-"] {
		margin-left: .75rem;
	}
}

.btn-secondary.UploadFile, .btn-primary.UploadFile {
	padding: .5rem 1rem;
	font-weight: 500;
	border: 2px solid var(--primary-color-light);
    color: var(--text-color-dark);
	border-radius: .25rem;
	background-color: transparent;
}

.btn-primary.UploadFile {
	color: var(--text-color-dark);
	background-color: var(--primary-color);
	border-color: #32be8f;;
>>>>>>> origin/master
}